<a href="https://colab.research.google.com/github/Redwoods/Py/blob/master/py2019/Lec/notebook/ch3_exercises_ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises.ipynb

## Q1.
> 다음 코드의 결과값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [0]:
# [Q1] Code  

a = "Life is too short, you need python"
if "wife" in a: print("wife")  #'wife'가 있으면 wife 출력
elif "python" in a and "you" not in a: print("python") #'python'이 있고 'you'가 없으면 python 출력
elif "shirt" not in a: print("shirt")# shirt가 없으면 shirt 출력
elif "need" in a: print("need")#need가 있으면 need 출력
else: print("none") #아무것도 없으면 none

shirt

**==> shirt의 조건문이 참이기 때문에 shirt가 나옴**

**elif 문에서 조건이 참일 경우 그 문장에서 빠져 나오기 때문에**

**elif "shirt" not in a: print("shirt")의 아래에 있는 문장**

**elif "need" in a: print("need") 가 출력이 되지 않음**

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [0]:
# [Q2] Code
a=0
b=0
while a <1000:
    a = a+1
    if a % 3 == 0: b=b+a
    if a==1000:
      print("3의 배수의 합= ",b)

3의 배수의 합=  166833

for 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [0]:
b=0
for a in range(1,1001):
  if a%3==0 : b=b+a
print("3의 배수의 합= {0}".format(b))

3의 배수의 합= 166833

for문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [0]:
# [Q3] Code
a=0
while a<5:
  a = a+1
  print("*"*a)

*
**
***
****
*****

for문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [0]:
for a in range(1,6):
  print("*"*a)

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

**단순 for문 사용**

In [0]:
# [Q4] Code
for i in range(1,101): 
  print(i, end =" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

**리스트 내포 사용**

In [0]:
result=[i for i in range(1,101)]
print(result,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

while문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [0]:
a=1
while a <=100:
  print(a,end=" ")
  a=a+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

**일반 for문**

In [0]:
# [Q5] Code
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
b=0
for i in range(len(a)):
    b=b+a[i]
    
print(b/len(a))

79.0

**itrator 응용**

In [0]:
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total=0
for position in range(len(a)):
  b=a[position]
  total+=b
average= total/len(a)
print(f"result= {average}")

result= 79.0

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

**리스트내포 (홀수 출력)**

In [0]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result=[num*2 for num in numbers if num % 2 ==1]
result

[2, 6, 10, 14, 18]

**리스트내포 (홀수 출력)**

In [0]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result =[]
for idx in range(len(numbers)):
  if  numbers[idx] % 2 ==0:
    continue;
  else:
    result.append(numbers[idx]*2)
print(result)

[2, 6, 10, 14, 18]

**리스트 내포 사용 (전부출력)**

In [0]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result =[]
for idx in range(len(numbers)):
  if  numbers[idx] % 2 ==0:
    result.append(numbers[idx])
  else:
    result.append(numbers[idx]*2)
print(result)

[2, 2, 6, 4, 10, 6, 14, 8, 18]

**리스트 내포 사용 (전부출력)**

In [0]:
# [Q6] Code
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result=[(num*2 if num % 2 ==1 else num)for num in numbers]
result

[2, 2, 6, 4, 10, 6, 14, 8, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

**생각대로**

In [0]:
# [Q7] Code-1
scores = [91, 67, 88, 75]
a=0
for i in range(len(scores)):
  a=a+scores[i]
print(a/len(scores))

80.25

**zip함수**

In [0]:
# [Q7] Code-2

subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]

average = 0
total =0
for subject ,score in zip(subjects,scores):
  total+=score
average= total/len(scores)
print(f"average= {average}")

average= 80.25

**enumerate**

In [0]:
# [Q7] Code-3
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
score=0
for position, subject in enumerate(subjects):
    score = score+scores[position]
print(score/len(scores))

80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb