<a href="https://colab.research.google.com/github/Redwoods/Py/blob/master/py2019/Lec/notebook/ch4_exercises_ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch4_exercises.ipynb

## Q1.
> 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

In [0]:
# [Q1] Code  

def is_odd(num):
    if num % 2 == 0:
        print("Even number")
    else:
        print("Odd number")
 

is_odd(7)

Odd number

In [0]:
def is_odd1(a, b=2):
  if a%b==0:
    return print("짝수")
  else:
    return print("홀수")

is_odd1(5)

홀수

## Q2.
> 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. 
- (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)
- ※ 평균 값을 구할 때 len 함수를 사용해 보자.

In [0]:
# [Q2] Code

def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i 
    return result/len(args)
  
add_many(1,2,3,4)

2.5

In [1]:
def add_many(*args):
    return sum(args, 0.0)/len(args)
  
add_many(1,2,3,4)

2.5

In [0]:
# user input로 입력받기.
a=0
cnt=0
while 1:
    data = input()
    if not data:
        print(a/cnt)
        break
    a=a+int(data)
    cnt=cnt+1

1
2
3
4

2.5

## Q3.
> 다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

```
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

```
---
> 이 프로그램을 수행해 보자.

>> 첫번째 숫자를 입력하세요:3  
>> 두번째 숫자를 입력하세요:6
- 두 수의 합은 36 입니다
- 3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다.  
이 프로그램의 오류를 수정해 보자.

In [0]:
# [Q3] Code
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = int(input1) + int(input2)
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:1
두번째 숫자를 입력하세요:2
두 수의 합은 3 입니다

In [0]:
# Nice try!!!
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
a=total[:len(input1)]
b=total[len(input1):]
c=int(a)+int(b)
print("두 수의 합은 %d 입니다" % c)

첫번째 숫자를 입력하세요:23
두번째 숫자를 입력하세요:32
두 수의 합은 55 입니다

## Q4.
> 다음 중 출력 결과가 다른 것 한 개를 골라 보자.

```
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))
```

**띄어쓰기 없이 결과값이 나옴**

In [0]:
# [Q4] Code

print("you" "need" "python")
print("you"+"need"+"python") 
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
youneedpython

**띄어쓰기(',')로 구분한다**

In [0]:
# print ("you " "need " "python")
# print("you "+"need "+"python")
# print(" ".join(["you", "need", "python"]))
print("you", "need", "python")

you need python

## Q5.
> 다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

```
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())

```
>> 이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다.

>> 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.



# **항상 파일을 열고 나면 파일을 닫아줘야 한다.**

In [0]:
# [Q5] Code

f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

## Q6.
> 사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. 
- (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [0]:
# [Q6] Code
f1 = open("test.txt",'a')
f1.write("\n")
f1.write(input("입력할 문자를 작성하세요: "))
f1.close()

입력할 문자를 작성하세요: test 1

In [0]:
f1=open("test.txt",'r')
print(f1.read(), end=' ')
f1.close()

Life is too short
test 1

## Q7.
> 다음과 같은 내용을 지닌 파일 foo1.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.

>> Life is too short  
>> you need java

- ※ replace 함수를 사용해 보자.

In [0]:
# [Q7] Code-1

f1=open("foo1.txt",'w')
f1.write("Life is too short\n you need java")
f1.close()

################# Create Text File #################

f2=open("foo1.txt",'r')
a=f2.read()
f2.close()

################# save in 'a' (read foo1.txt) #################
b=a.replace("java","python")

################# replace 'java' to 'python' #################
f1=open("foo1.txt",'w')
f1.write(b)
f1.close()

################# than foo1.txt open to Write #################
f2=open("foo1.txt",'r')
print(f2.read())
f2.close()
################# Check The foo1.txt #################

Life is too short
 you need python

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch4_exercises_id.ipynb